body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

header {
  background-color: #8798eb; /* Acá seleccione el color para mi CV digital, en este caso lo hice buscando paletas de colores para encontrar el código del color. Es azul claro. */
  color: #fff;
  text-align: center;
  padding: 20px;
}
header img {
  width: 150px; /* En esta parte del trabajo, recurrí a internet para saber cómo darle diseño a la imagen. Acá el código indica el ancho que yo considero necesario */
  border-radius: 50%; /* Acá le estoy indicando en qué porcentaje quiero los bordes redondeados */
  margin-top: 10px; /* Por último, acá se le indica la separación de la imagen con el texto superior */

section {
  margin: 20px;
}

h2 {
  color: #87CEEB; /* Celeste */
}

article {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

footer {
  background-color: #87CEEB; /* Celeste */
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
