body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

header {
  background-color: #87CEEB; /* Celeste */
  color: #fff;
  text-align: center;
  padding: 20px;
}

header img {
  width: 150px; /* En esta parte me tuve que apoyar en plantillas de internet para saber cómo ajustar la imagen en el sitio. En este caso, acá defino el ancho según sea necesario */
  border-radius: 50%; /* Acá definí el porcentaje de los bordes redondeados de la imagen */
  margin-top: 10px; /* Acá debo precisar qué tan separada quiero la imagen desde el texto superior, en este caso el header */

section {
  margin: 20px;
}

h2 {
  color: #87CEEB; /* Celeste */
}

article {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

footer {
  background-color: #87CEEB; /* Celeste */
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
} 